<!-- This is a template file for admin's dashboard component -->
  <div class="row">
    <div class="center-block col-xs-12 col-sm-8 col-md-10 col-md-offset-2 bottom-buffer">
      <div class="dashboard-intro">
        <h3 id="main-intro" class="main-intro">{{ $ctrl.info }}</h3>
      </div>
      <div class="list-group text-center">
        <a class="list-group-item" ui-sref="dashboard.sessionadmin">
          <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Admin management
        </a>
        <a class="list-group-item" ui-sref="dashboard.sessionstudent">
          <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Students management
        </a>
        <a class="list-group-item" ui-sref="dashboard.sessiontutor">
          <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;Tutors management
        </a>
        <a class="list-group-item" ui-sref="dashboard.sessionlocation">
          <i class="fa fa-university" aria-hidden="true"></i>&nbsp;Location management
        </a>
        <a class="list-group-item" ui-sref="dashboard.sessionclassinfo">
          <i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp;Classes management
        </a>
        <a class="list-group-item" ui-sref="dashboard.sessionclass">
          <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Sessions management
        </a>
        <a class="list-group-item" ui-sref="livesession">
          Auto Cycle Session Table
        </a>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
