<!--<div class="presentable container main managment-tool"
id="main">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="home-content center-block ">
        <h2>Admins Administration</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="button-content">
        <button type="button" class="btn btn-success" ng-click="vm.openAdd()">Add new account</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="table-responsive">
        <table ng-table="vm.tableParams" class="table table-striped table-condensed center-items">
          <tr ng-repeat="row in $data">
            <td data-title="'ID'">{{ row.AdminId }}</td>
            <td data-title="'Email Address'">{{ row.EmailAddress }}</td>
            <td data-title="'First Name'">{{ row.FirstName }}</td>
            <td data-title="'Last Name'">{{ row.LastName }}</td>
            <td data-title="'Edit'">
              <button type="button" class="btn btn-default btn-sm"
              ng-click="vm.openEdit($index)">Open me!</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>-->


<script type="text/javascript">

  $(document).ready(function () {

      //Prepare jTable
    $('#TableContainer').jtable({
      title: 'Admins Administration',
      paging: true, //Enable paging
      pageSize: 10, //Set page size (default: 10)
      sorting: true, //Enable sorting
      defaultSorting: 'EmailAddress ASC', //Set default sorting
      actions: {

        listAction: function (postData, jtParams) {
            return $.Deferred(function ($dfd) {
            $.ajax({
             url: 'http://lamp.cse.fau.edu/~jherna65/apiTest/?action=getDirectors&jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting + '&iSearch=' + iSearch  ,
            type: 'POST',
            dataType: 'json',
            data: postData,
            success: function (data) {
                $dfd.resolve(data);
            },
            error: function () {
                $dfd.reject();
            }
            });
            });
        }

        , createAction: function (postData) {
            return $.Deferred(function ($dfd) {
            $.ajax({
                url: 'http://lamp.cse.fau.edu/~jherna65/apiTest/?action=addDirector',
                type: 'POST',
                dataType: 'json',
                data: postData,
                success: function (data) {
                $dfd.resolve(data); $('#TableContainer').jtable('reload');
                },
                error: function () {
                $dfd.reject();
                }
            });
            });
            }
        , updateAction: function (postData, jtParams) {
            return $.Deferred(function ($dfd) {
            $.ajax({
             url: 'http://lamp.cse.fau.edu/~jherna65/apiTest/?action=updateDirector',
            type: 'POST',
            dataType: 'json',
            data: postData,
            success: function (data) {
                $dfd.resolve(data); $('#TableContainer').jtable('reload');
            },
            error: function () {
                $dfd.reject();
            }
            });
            });
        }
      },
      fields: {
        //``, ``, ``, ``, ``, ``, ``, ``
        AdminId: {
          key: true,
          create: false,
          edit: false,
          list: false
        },
        EmailAddress: {
          title: 'Email Address',
          create: true,
          edit: false,
          list: true

        },
        Password: {
          title: 'Set Password',
          create: true,
          edit: true,
          list: false

        },
        FirstName: {
          title: 'First Name'

        },
        LastName: {
          title: 'Last Name'

        },
        DateEntered: {
          title: 'Date Entered',
          type: 'date',
          create: false,
          edit: false,
          list: false
        }
      }
    });

    //$('#TableContainer').jtable('load');

    //Re-load records when user click 'load records' button.
    $('#LoadRecordsButton').click(function (e) {
      e.preventDefault();
      $('#TableContainer').jtable('load', {
          iSearch: $('#iSearch').val()
      });
    });

    //Load all records when page is first shown
    $('#LoadRecordsButton').click();

  });

</script>
<div class="presentable container main"
id="main">
  <div class="buffer row">
    <div class="col-xs-12 col-sm-2 col-md-4">
      <a ui-sref="^">
        <button type="button" class="btn btn-info btn-sm">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to Dashboard
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 center-block">
      <div class="home-content">
        <h2>Administration Management</h2>
      </div>
    </div>
  </div>
  <div class="buffer row">
    <div class="col-xs-12 col-sm-8 col-md-10 center-block">
      <div class="filtering">
    	  <div class="form-group">
          <div class="col-xs-6 col-sm-4 col-md-6">
            <label>Search: </label><input type="text" class="form-control" name="iSearch" id="iSearch" />
          </div>
          <div class="col-xs-4 col-sm-2 col-md-2">
            <button type="submit" class="top-buffer bottom-buffer btn btn-primary" id="LoadRecordsButton">
                Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul>
          <li>To reset a password do an edit and change the *********, otherwise leave as is</li>
        </ul>

        <div class="" id="TableContainer">

        </div>
      </div>
    </div>
  </div>
</div>
