<!-- This is a template file for admin's dashboard component -->
<div class="presentable container" id="profile-page">
  <div class="row">
    <div class="center-block col-xs-12 col-sm-6 col-md-8 col-md-offset-2 bottom-buffer">
      <h2 id="main-intro" class="main-intro">{{ $ctrl.info }}</h2>
      <a class="s_remove" ui-sref="sessionadmin">
        <button type="button" class="admin-tools btn btn-info btn-lg btn-block">Admin management</button>
      </a><br/>
      <a class="s_remove" ui-sref="sessionstudent">
        <button type="button" class="admin-tools btn btn-info btn-lg btn-block">Students management</button>
      </a><br/>
      <a class="s_remove" ui-sref="sessiontutor">
        <button type="button" class="admin-tools btn btn-info btn-lg btn-block">Tutors management</button>
      </a><br/>
      <a class="s_remove" ui-sref="sessionlocation">
        <button type="button" class="admin-tools btn btn-info btn-lg btn-block">Location management</button>
      </a><br/>
      <a class="s_remove" ui-sref="sessionclassinfo">
        <button type="button" class="admin-tools btn btn-info btn-lg btn-block">Classes management</button>
      </a><br/>
      <a class="s_remove" ui-sref="sessionclass">
        <button type="button" class="admin-tools btn btn-info btn-lg btn-block">Sessions management</button>
      </a><br/>
      <a class="s_remove" href="http://lamp.cse.fau.edu/~jherna65/dashboard.php">
        <button type="button" class="admin-tools btn btn-info btn-lg btn-block">Auto Cycle Session Table</button>
      </a><br/>
    </div>
  </div>
  <div class="row">

  </div>
</div>
