
<div class="presentable container main"
id="main">
  <div class="buffer row">
    <div class="col-xs-12 col-sm-8 col-md-12 col-lg-12 center-block">
      <div class="col-xs-12 col-sm-2 col-md-4">
        <a ng-click="vm.backAState()">
          <button type="button" class="btn btn-info btn-sm">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to Dashboard
          </button>
        </a>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <table datatable dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstanceCallback"
         class="dt-responsive display" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
</div>
