<script type="text/javascript">

	$(document).ready(function () {

			//Prepare jTable
		$('#TableContainer').jtable({
			title: 'Students Administration',
			paging: true, //Enable paging
			pageSize: 10, //Set page size (default: 10)
			sorting: true, //Enable sorting
			useBootstrap: true,
			defaultSorting: 'EmailAddress ASC', //Set default sorting
			actions: {

				listAction: function (postData, jtParams) {
						return $.Deferred(function ($dfd) {
						$.ajax({
						 url: 'http://lamp.cse.fau.edu/~jherna65/apiTest/?action=getStudents&jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting + '&iSearch=' + iSearch + '&isTutor=' + isTutor         ,
						type: 'POST',
						dataType: 'json',
						data: postData,
						success: function (data) {
								$dfd.resolve(data);
						},
						error: function () {
								$dfd.reject();
						}
						});
						});
				}

				, createAction: function (postData) {
						return $.Deferred(function ($dfd) {
						$.ajax({
								url: 'http://lamp.cse.fau.edu/~jherna65/apiTest/?action=addStudent&',
								type: 'POST',
								dataType: 'json',
								data: postData,
								success: function (data) {
								$dfd.resolve(data); $('#TableContainer').jtable('reload');
								},
								error: function () {
								$dfd.reject();
								}
						});
						});
						}
				, updateAction: function (postData, jtParams) {
						return $.Deferred(function ($dfd) {
						$.ajax({
						 url: 'http://lamp.cse.fau.edu/~jherna65/apiTest/?action=updateStudent',
						type: 'POST',
						dataType: 'json',
						data: postData,
						success: function (data) {
								$dfd.resolve(data); $('#TableContainer').jtable('reload');
						},
						error: function () {
								$dfd.reject();
						}
						});
						});
				}
			},
			fields: {
				//``, ``, ``, ``, ``, ``, ``, ``
				StudentId: {
					key: true,
					create: false,
					edit: false,
					list: false
				},
				EmailAddress: {
					title: 'Email Address',
					create: true,
					edit: false,
					list: true

				},
				Password: {
					title: 'Set Password',
					create: true,
					edit: true,
					list: false

				},
				FirstName: {
					title: 'First Name'

				},
				LastName: {
					title: 'Last Name'

				},
				ContactPhone: {
					title: 'Contact Phone'

				},
				isTutor: {
					title: 'Approved Tutor',
					create: false,
					edit: false,
					list: true


				},
				FavoriteTutorId: {
					title: 'FavoriteTutorId',
					create: false,
					edit: false,
					list: false
				},
				DateEntered: {
					title: 'Date Entered',
					type: 'date',
					create: false,
					edit: false,
					list: false
				}
			}
		});

		//$('#TableContainer').jtable('load');

		//Re-load records when user click 'load records' button.
		$('#LoadRecordsButton').click(function (e) {
			e.preventDefault();
			$('#TableContainer').jtable('load', {
					//FirstName: $('#FirstName').val(),
					//LastName: $('#LastName').val(),
					iSearch: $('#iSearch').val(),
					isTutor: $('#isTutor').val()
			});
		});

		//Load all records when page is first shown
		$('#LoadRecordsButton').click();

	});

</script>

<div class="presentable container main"
id="main">
	<div class="buffer row">
		<div class="col-xs-12 col-sm-2 col-md-4">
			<a ui-sref="^">
				<button type="button" class="btn btn-info btn-sm">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to Dashboard
				</button>
			</a>
		</div>
	</div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 center-block">
      <div class="home-content">
        <h2>Students Administration</h2>
      </div>
    </div>
  </div>
  <div class="buffer row">
    <div class="col-xs-12 col-sm-8 col-md-10 center-block">
      <div class="filtering">
    	  <div class="form-group">
          <div class="col-xs-6 col-sm-4 col-md-6">
            <label>Search: </label><input type="text" class="form-control" name="iSearch" id="iSearch" />
						is Tutor:
	    	     <select id="isTutor" name="isTutor">
	            <option selected="selected" value="0">Show All</option>
	      		  <option value="1">Yes</option>
	      		  <option value="2">No</option>
	      	   </select>
	        </div>
          <div class="col-xs-4 col-sm-2 col-md-2">
            <button type="submit" class="top-buffer bottom-buffer btn btn-primary" id="LoadRecordsButton">
                Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <ul>
          <li>To reset a password do an edit and change the *********, otherwise leave as is</li>
        </ul>

        <div class="" id="TableContainer">

        </div>
      </div>
    </div>
  </div>
</div>
