<div class="presentable container main"
id="main">
  <div class="buffer row">
    <div class="col-xs-12 col-sm-2 col-md-4">
      <a ui-sref="^">
        <button type="button" class="btn btn-info btn-sm">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to Dashboard
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 col-md-offset-2 center-block">
      <div class="home-content">
        <h2>My Attended Sessions</h2>
      </div>
    </div>
  </div>
  <div class="buffer row">
    <div class="col-xs-12 col-sm-8 col-md-10 col-md-offset-2 center-block">
      <div class="">
        <table st-table="vm.displayCollection" st-safe-src="vm.rowCollection" class="table table-striped table-hover">
          <thead>
            <tr>
              <th st-sort="class">Class</th>
              <th st-sort="coursename">Course Name</th>
              <th st-sort="tutorName">Tutor Name</th>
              <th st-sort="email">Tutor Email</th>
              <th st-sort="date">Date</th>
              <th st-sort="location">Rating</th>
              <th st-sort="ratingStatus">Rating Status</th>
            </tr>
          </thead>
          <tbody ng-show="!vm.isLoading">
            <tr ng-repeat="row in vm.displayCollection">
          		<td>{{row.class}}</td>
          		<td>{{row.coursename}}</td>
          		<td>{{row.tutorName}}</td>
              <td>{{row.email}}</td>
              <td>{{row.date}}</td>
              <td>{{row.rating}}</td>
              <td>{{row.ratingStatus}}</td>
          	</tr>
          </tbody>
          <tbody colspan="7" ng-show="vm.isLoading">
            <tr>
              <td class="text-center">Loading ... </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7">
              </td>
            </tr>
        	</tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
