<div class="presentable container main"
id="main">
  <div class="buffer row">
    <div class="col-xs-12 col-sm-2 col-md-4">
      <a ui-sref="^">
        <button type="button" class="btn btn-info btn-sm">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to Dashboard
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 col-md-offset-2 center-block">
      <div class="home-content">
        <h2>My Attended Sessions</h2>
      </div>
    </div>
  </div>
  <div class="buffer row">
    <div class="col-xs-12 col-sm-8 col-md-10 col-md-offset-2 center-block">
      <div class="">
        <table st-table="vm.displayCollection" st-safe-src="vm.rowCollection"
          class="table table-striped table-hover tablesaw tablesaw-stack" data-tablesaw-mode="stack">
          <thead>
            <tr>
              <th data-tablesaw-sortable-col data-tablesaw-priority="persist" st-sort="coursename">Course Name</th>
              <th data-tablesaw-sortable-col st-sort="tutorName">Tutor Name</th>
              <th data-tablesaw-sortable-col st-sort="email">Tutor Email</th>
              <th data-tablesaw-sortable-col st-sort="date">Date</th>
              <th data-tablesaw-sortable-col st-sort="ratingStatus">Rating Status</th>
              <th data-tablesaw-sortable-col>Rating</th>
            </tr>
          </thead>
          <tbody ng-show="!vm.isLoading">
            <tr ng-repeat="row in vm.displayCollection">
          		<td>
                <b class="tablesaw-cell-label">Course Name</b>
                <span class="table-cell-content">{{row.coursename}}</span>
              </td>
          		<td>
                <b class="tablesaw-cell-label">Tutor Name</b>
                <span class="table-cell-content">{{row.tutorName}}</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">Tutor Email</b>
                <span class="table-cell-content">{{row.email}}</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">Date</b>
                <span class="table-cell-content">{{row.date}}</span>
              </td>
              <td>
                <b class="tablesaw-cell-label">Rating Status</b>
                <span class="table-cell-content">{{row.ratingStatus}}</span>
              </td>
              <td ng-show="row.ratingStatus=='Not Yet Rated'">
                <b class="tablesaw-cell-label">Rating</b>
                <span class="table-cell-content">
                  <a href ng-click="vm.openRate(row)">Click to rate</a>
                </span>
              </td>
              <td ng-show="row.ratingStatus=='Rated'">
                <b class="tablesaw-cell-label">Rating</b>
                <span class="table-cell-content" uib-rating ng-model="vm.intRating" ng-init="vm.rating(row.rating)"
                max="vm.max" read-only="true"
                titles="['one','two','three']" aria-labelledby="default-rating"></span>
                <!--<span class="table-cell-content">{{row.rating}}</span>-->
              </td>
          	</tr>
          </tbody>
          <tbody colspan="7" ng-show="vm.isLoading">
            <tr>
              <td class="text-center">Loading ... </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="text-center" st-pagination="" st-items-by-page="10" colspan="7">
              </td>
            </tr>
        	</tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
