<div class="presentable container main"
id="dashboard-page">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="home-content center-block">
        <h1 class="greetings animated fadeIn">Welcome back, {{ vm.data.name }}</h1>
        <a href class="top-buffer btn btn-lg btn-danger btn-logout" ng-click="vm.logout()">
          <span class="fa fa-times-circle"></span>&nbsp;LOGOUT</a>
      </div>
    </div>
  </div>
  <div class="row">
  </div>

<admin-dashboard ng-if="vm.userData!=null&&vm.userData.role=='admin'" info="''"></admin-dashboard>
<tutor-dashboard ng-if="vm.userData!=null&&vm.userData.role=='tutor'" info="''"></tutor-dashboard>
<student-dashboard ng-if="vm.userData!=null&&vm.userData.role=='student'" info="''"></student-dashboard>

</div>
