<!-- A template file for user login page -->
<!-- PHP call will be made using Javascript (Angularjs) -->


<div class="container col-xs-12 col-sm-6 col-md-8 col-md-offset-2 center-block">
  <div class="row">
    <div class="demo">
      <div class="alert alert-info demo-info">
        Username: test<br />
        Password: test
      </div>
    </div>
  </div>
  <div class="row">
    <div class="login-page">
      <div class="authentication-form">
        <h1 class="title">Login</h1>
        <form class="form login-form" id="login-form" name="loginForm" role="form" ng-submit="vm.userLogin()" novalidate>

          <input type="text"
          placeholder="Username" name="username" ng-model="vm.username" required/>

          <input type="password"
          placeholder="Password" name="password" ng-model="vm.password" required/>

          <button id="login-submit" class="login-submit" ng-disabled="loginForm.$invalid" type="submit">login</button>
        </form>
      </div>
    </div>
  </div>
</div>
