<!-- A template file for user login page -->
<!-- PHP call will be made using Javascript (Angularjs) -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2 center-block">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Demo Accounts</h3>
        </div>
        <div class="panel-body">
          <h5>Admin:</h5>
          Username: admin@admin.com<br />
          Password: 12345<br/>
          <h5>Student:</h5>
          Username: dscully@fbi.gov<br />
          Password: test<br/>
          <h5>Tutor:</h5>
          Username: test@fau.edu<br />
          Password: test
        </div>
      </div>
    </div>
  </div>

  <toaster-container toaster-options="{'limit':1, 'position-class':'toast-top-center'}">
  </toaster-container>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2 center-block">
      <div class="login-page">
        <div class="authentication-form">
          <h1 class="title">Login</h1><br/>
          <form class="form login-form" id="login-form" name="loginForm" role="form" ng-submit="vm.userLogin()" novalidate>

            <div class="form-group">
              <div class="col-md-12">
                <input type="text" class="input-text form-control"
                placeholder="Email-address" name="username" ng-model="vm.username" required/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12">
                <input type="password" class="input-text form-control"
                placeholder="Password" name="password" ng-model="vm.password" required/>
              </div>
            </div>
            <div class="form-group bottom-buffer">
              <div class="checkbox col-md-6">
                <label><input type="checkbox" ng-model="vm.isAdmin.value" check="">Admin?</label>
              </div>
            </div>

            <button id="login-submit" class="bottom-buffer btn btn-default login-submit" ng-disabled="loginForm.$invalid" type="submit">login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
