<!-- This is the main page template -->
<div class="container bannder" id="banner">
  <div class="row">
    <div class="center-block col-xs-12 col-sm-8 col-md-10">
      <img class="img-responsive img-banner" src="img/owl-logo.png">
      <hr class="star-primary">
    </div>
  </div>
</div>

<div class="container mainTable presentable">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 center-block">
      <my-table info="'Available Tutoring Sessions'" class="tutorings">
      </my-table>
    </div>
  </div>
</div>
