<div class="container center-block" id="profile-page">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-10 presentable bottom-buffer">
      <div class="buffer profile-header-img col-xs-6 col-sm-2 col-md-2 col-md-offset-2">
        <img class="img-circle" src="https://api.adorable.io/avatars/285/hey@miadn.png" />
      </div>
      <div class="buffer profile-statement col-xs-6 col-sm-2 col-md-4 col-md-offset-2">
        <p>Hi, my name is {{ vm.data.name }}</p>
        <p>I teach {{ vm.data.coursename }}</p>
        <p>Rating: {{ vm.data.rating }} stars</p>
        <p>(Description goes here)</p>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
