<!-- This is a template file for main table -->
<!-- Search bar -->
<div class="row">
  <div class="form-group search-box">
    <form class="search-form">
      <input type="text" class="form-control" placeholder="Search by Class" ng-model="$ctrl.searchTutor.class">
      <button class='btn btn-link search-btn'>
        <i class='glyphicon glyphicon-search'></i>
      </button>
    </form>
  </div>
</div>
<!-- Table -->
<div class="row">
  <div class="rHTable">
    <div class="rTable">
      <div class=" rTableHeading">
         <div class="rTableHead">Classes</div>
         <div class="rTableHead">Tutor</div>
         <div class="rTableHead">Time</div>
         <div class="rTableHead">Location</div>
       </div>

       <div class="rTableRow" ng-repeat="instructor in $ctrl.instructors | orderBy:$ctrl.sortType | filter:$ctrl.searchTutor" >
           <div class="rTableCell">{{ instructor.class }}</div>
           <div class="rTableCell">{{ instructor.name }}</div>
           <div class="rTableCell">{{ instructor.time }}</div>
           <div class="rTableCell">{{ instructor.room }}</div>
       </div>
    </div>
  </div>
</div>
