<!-- This is a template file for main table -->
<!-- Table -->
<h2 id="main-intro" class="main-intro">{{$ctrl.info}}</h2>
<table datatable="" dt-options="$ctrl.dtOptions" dt-columns="$ctrl.dtColumns" class="table table-striped">
</table>

<!--<table ng-table="$ctrl.tableParams" class="table table-condensed table-striped">
  <tr ng-repeat="person in $data">
    <td title="'Class'" filter="{ class: 'text' }" sortable="'class'">
      {{ person.class }}
    </td>
    <td data-title="'Course Name'" filter="{ coursename: 'text' }" sortable="'coursename'">
      {{ person.coursename }}
    </td>
    <td data-title="'Name'" sortable="'name'">
      {{ person.name }}
    </td>
    <td data-title="'Location'" sortable="'location'">
      {{ person.location }}
    </td>
    <td data-title="'Start Time'" sortable="'starttime'">
      {{ person.starttime }}
    </td>
    <td data-title="'End Time'" sortable="'endtime'">
      {{ person.endtime }}
    </td>
  </tr>
</table>-->
