a.s_remove,
a.s_remove:hover,
a.s_remove:focus{
  color:#e74c3c;
  text-decoration: none;
}

.home-content {
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: center;
}

.btn-xl {
  padding: 20px 20px;
  font-size: 20px;
}

.btn-logout {
  padding: 15px;
  width: 25%;
}

#dashboard-page .greetings{
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-duration: 2s;
  -moz-animation-delay: 1s;
  -ms-animation-duration: 2s;
  -ms-animation-delay: 1s;
}

#dashboard-page .list-group-item{
  background: #2574A9;
  color:#ECECEC;
}

#dashboard-page a.list-group-item:hover,
#dashboard-page button.list-group-item:hover,
#dashboard-page a.list-group-item:focus,
#dashboard-page button.list-group-item:focus {
  text-decoration: none;
  color: #fff;
  background-color: #34495E;
}

/*
* Datatable custom style
*/
.Active {color:#8e44ad;}
.Upcoming {color: #f1c40f;}
.Canceled {color:#e74c3c;}
.Completed {color:#27ae60;}
table.dataTable.display tbody tr:hover td:last-child div{ color:black ; }/* green*/
