/* Style sheet for Login.html */
.login-page {
  padding: 8% 0 0;
  margin: 0 auto;
}

.authentication-form {
  z-index: 1;
  background: #FFFFFF;
  padding: 20px;
  margin: 0 auto 100px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.authentication-form .title{
  padding-left: 15px;
  text-align: left;
}

.authentication-form .input-text {
  width:100%;
  margin: 0 0 15px;
  text-indent: 10px;
  font-size: 14px;
}/*
.authentication-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.authentication-form .message a {authentication-form
  color: #4CAF50;
  text-decoration: none;
}*/
.authentication-form button {
  width:100%;
  text-transform: uppercase;
  background: #CC0000;
  padding: 6px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.authentication-form button:hover,.authentication-form button:active,.authentication-form button:focus {
  background: #96281B;
  color: #FFFFFF;
}
.form .register-form {
  display: none;
}

.authentication-form .checkbox {
  padding-left: 15px;
  text-align: left;
}
