body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #ACACAC;
}

.main {
    min-height: 100%;
    position: relative;
}



#results {
    text-align: center;
}

#footer {
	background:#003366;
	width:100%;
	height:100px;
	position: absolute;
    border-top: 2px solid red;
	bottom:0;
	left:0;
}

.content {
    padding-bottom: 150px;
}


/* Stylesheet for navbar */
/* Change the style of the navbar */

/* Custom navbard CSS */
.navbar-custom {
  background: #003366;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid red;
}



/* Current state of the navbar*/
.navbar-default .navbar-nav > .activeNav > a,
.navbar-default .navbar-nav > .activeNav > a:hover,
.navbar-default .navbar-nav > .activeNav > a:focus {
  color: #fff;
  background-color: #C0392B;
}

/* Remove default Bootstrap border */
.navbar-default .navbar-collapse{
  border-top: none;
  box-shadow: none;
}

/* Custom togglable navbar */
.navbar-default .navbar-text {
  color: #fff;
}

.navbar-custom a:focus {
  outline: none;
}

.navbar-brand {
  padding: 0;
  color: white;
}
.navbar-brand > img {
  max-height: 100%;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}

.navbar-custom .navbar-nav li a {
  color: white;
}

.navbar-custom .navbar-nav li a:hover {
  color: red;
  outline: none;
}

.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}

.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #18BC9C;
}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #18BC9C;
}

.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #18BC9C;
  color: white;
  border-color: #18BC9C;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}






/*----------------------Header CSS--------------------------*/
header {
  text-align: center;
  background: #ACACAC;
  color: #003366;
}
header .container {
  padding-top: 100px;
  padding-bottom: 50px;
}
header img {

  margin: 0 auto 20px;
}
header .intro-text {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 2em;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 200px;
    padding-bottom: 100px;
  }
}

hr.star-primary {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}
hr.star-primary:after {
  content: "\f005";
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

hr.star-primary {
  border-color: #003366;
}
hr.star-primary:after {
  background-color: #ACACAC;
  color: #003366;
}









/*-----------------------Search Section CSS -----------------*/

#search {
    background: #ACACAC;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.searchHeading {
    color: #003366;
    display: inline;
}

form .row {
    padding-top: 2%;
    padding-bottom: 1%;
}


#formDropDownBtn {
    background: #003366;
    font-size: 1.5em;
    margin-bottom: 20px;
    padding-left: 23px;
    padding-right: 23px;
}

#formDropDownBtn:hover {
    transform: scale(1.2, 1.2);
}
#formDropDownBtn:click {
    color: red;
}

#tableDropDownBtn {
    background: #003366;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#tableDropDownBtn:hover {
    transform: scale(1.2, 1.2);
}



#searchTutors {
    background: #003366;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 40px;
    width: 120px;
}

.selected {
    color: red;
    transform: scale(1.2, 1.2);
}



/*--------------------Available Tutors Table CSS------------------*/
header {clear:both;}
		#headerlogo img { margin:10px;}
		.dform label {padding-right:5px;}
	
		
		.rTable {
                margin-top: 20px;
		    	display: table;
		    	width: 80%;
				margin-left:auto;
				margin-right:auto; 
				color:white;
		}
		.rTableRow {
		    	display: table-row;
				transition: background 0.2s ease-in;
				background: rgb(44,52,70);
								
		}
		.rTableRow:nth-child(odd) {
			background: rgb(50,60,80);
		}
		.rTableRow:hover {
		    	background:#EEF331;
				color:#725F00;
				
		}
		

		.rTableCell, .rTableHead {
		    	display: table-cell;
		    	padding: 3px 10px;
                text-align: center;
		    	border: 0;
				line-height:3em;
		}
		.rTableHeading {
		    	display: table-header-group;
		    	background-color: #003366;
				color: white;
		    	font-weight: bold;
				text-align:center;
		}
		.rTableFoot {
		    	display: table-footer-group;
		    	font-weight: bold;
		    	background-color: #ddd;
		}
		.rTableBody {
		    	display: table-row-group;
		}
		
		
		@media screen and (max-width: 755px) {
			header {margin-top:100px;}
			.container {width:500px;

			}
			.intro-text h1{ font-size:smaller}
			 [class*="col-"] {
				width: 100%;
			}
			.rTable {
		    	width: 500px;
				margin-left:auto;
				margin-right:auto;
			}
			.img-responsive {
				width: 300px;
   				 height: auto;
			}
			header { padding:5px;}
			
			.fixed {display: table; width:300px;margin-left:auto;
				margin-right:auto; }
	.fixed .col-xs-3{display:table-row}
	.fixed label, .fixed input {display: table-cell;}
			
		}
		@media screen and (max-width: 500px) {
			/*.container {width:350px; */ /* <-----------------chaged to line below */
			.container {width:100%; min-width:250px;
			
			}

			 [class*="col-"] {
				width: 100%;
			}
			.rTable {
		    	width: 340px;
				margin-left:auto;
				margin-right:auto;
			}
	
		}


.form-control {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


/*---------------MOBILE RESPONSIVENESS--------------------*/


/*IPHONE 5 AND 5S IN PORTRAIT AND LANDSCAPE*/
@media only screen 
    and (min-device-width : 320px) 
    and (max-device-width : 568px) {
    body {
       /* width: 110%; */ /* <-----------------chaged to line below - this is causing to ovesize in the iphone */
    }
        
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    margin-left: 25px;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
        
  .rTable {
    margin-left: -10px;
    transform: scale(.9, .9);
  } 
      
}



/*IPHONE 6 IN PORTRAIT AND LANDSCAPE*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
   
}


/*IPHONE 6 PLUS IN PORTRAIT AND LANDSCAPE*/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
    
    
}


/*IPAD*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
}


} /* <-----------------missing bracket */







